<link rel="stylesheet" href="/css/products/products.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

<nav>
  <a href="/api/myCart" class="photoCart">
    <img src="/imgs/carrito.png" alt="carrito de compras">
  </a>
  <div class="logo-container">
    <img src="/imgs/logo.png" alt="logo">
  </div>
  <button class="image-container">
    <img src={{img}} alt="foto de perfil">
    <div class="menu">
      <ul>
        <li><a href="/api/sessions/current">Informacion de cuenta</a></li>
        {{#if rol}}
        <li><a href="/api/premium/">Ser premium</a></li>
        {{else}}
        <li><a href="/api/products/misProductos">Mis productos</a></li>
        {{/if}}
        {{#if isAdmin}}
        <li><a href="/api/userList">Lista de usuarios</a></li>
        {{/if}}
        <li><a href="/api/chat">Chat</a></li>
        <li><a href="/api/logout" id="logout" cartId={{userInfo.cartId}}>Cerrar sesion</a></li>
      </ul>
    </div>
  </button>
</nav>


<section class="prod-container">
  {{#if hayDocs}}
  {{#each docs}}
  <div class="prod-subcontainer">
    <h2>{{this.title}}</h2><br>
    <h4>{{this.description}}</h4><br>
    <h3>Precio:${{this.price}}</h3><br>
    <div class="thumbnails">
      <img src=/resources/products/{{this.thumbnails.[0]}} alt="imagen del producto">
    </div>
    <button id="btnCompra" productId={{this.idProduct}} class="buttonShop">Añadir al carrito</button>
  </div>
  {{/each}}
  </ul>
  {{else}}
  Pagina fuera de los limites...
  {{/if}}
</section>
<div class="paginate">
  <div>
    <a {{#if hasPrevPage}} href="/api/products/?limit={{limit}}&page={{prevPage}}" {{/if}}>Prev</a>
    [{{ page }}]
    <a {{#if hasNextPage}} href="/api/products/?limit={{limit}}&page={{nextPage}}" {{/if}}>Next</a><br>
  </div><br>
  <div>
    Página: <input type="text"> <button onclick="irAPag({{limit}})">ir</button>
  </div>
</div>

<script src="/js/products.js"></script>