<style>
  ul {
    list-style-type: none;
  }

  #div1 {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
</style>


{{#if userInfo}}
{{#if userInfo.email}}
<h2>Bienvenido {{userInfo.email}}</h2><br>
<h4>Rol:{{userInfo.rol}}</h4>
{{else}}
<h2>Bienvenido{{userInfo}}</h2>
<h4>rol: usuario</h4>
{{/if}}
<br>
<button id="btnPremium">Ser premium</button>
<hr>
<br>
<button id="btnLO" cartId={{userInfo.cartId}}>Logout</button>
<hr>
<br>
<button id="btnCurrent">Informacion de usuario</button>
<hr>
{{else}}
{{/if}}

{{#if hayDocs}}
<ul>
  {{#each docs}}
  <hr>
  <li>
    <h2>Title:</h2> {{this.title}}
  </li>
  <li>
    <h4>Description:</h4> {{this.description}}
  </li>
  <button id="btnCompra" productId={{this.id}}>Añadir al carrito</button>
  {{/each}}
</ul>
{{else}}
Pagina fuera de los limites...
{{/if}}
<hr>
<div id="div1">
  <div>
    <a {{#if hasPrevPage}} href="/api/products/?limit={{limit}}&page={{prevPage}}" {{/if}}>Prev</a>
    [{{ page }}]
    <a {{#if hasNextPage}} href="/api/products/?limit={{limit}}&page={{nextPage}}" {{/if}}>Next</a><br>
  </div>
  <div>
    Página: <input type="text"> <button onclick="irAPag({{limit}})">ir</button>
  </div>
</div>

<script src="/js/products.js"></script>